.basketContainer{
    margin-top:15px;
}

.basketTable td{
    vertical-align: middle;
}

.continueShopping:hover, .ordering:not([disabled]):hover{
    background-color: lightskyblue;
}

.continueShopping, .ordering:not([disabled]){
    border-color: lightskyblue;
}

.deleteItem:hover{
    border:1px solid red;
    background-color:lightcoral;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #EDFAFF;
}