<div class="basketContainer">
  <h2 align="center">Twój koszyk na zakupy</h2>
  <table class="table table-striped basketTable">
    <thead>
      <th>Ilość</th>
      <th>Produkt</th>
      <th>Cena</th>
      <th>Wartość</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let itemBasket of itemsBasket;">
        <td>{{itemBasket.order}}</td>
        <td>{{itemBasket.name}}</td>
        <td>{{itemBasket.price | currency:'USD':true}}</td>
        <td>{{itemBasket.order * itemBasket.price | currency:'USD':true}}</td>
        <td><button (click)="deleteItemInBasket(itemBasket)" class="btn deleteItem">Usuń</button></td>
      </tr>
    </tbody>
    <tfoot>
      <th></th>
      <th></th>
      <th>Wartość całkowita:</th>
      <th>{{itemsSum | currency:'USD':true}}</th>
      <th></th>
    </tfoot>
  </table>
  <div align='center'>
    <button (click)="changePage('shop')" class="btn continueShopping">Kontynuuj Zakupy</button>
    <button (click)="changePage('ordering')" [disabled]='itemsSum<=0' class="btn ordering">Złóż zamówienie</button>
  </div>
</div>