<div class="pagination" *ngIf="count > 0">
	<div class="numbers">
		<button class="btn" (click)="onPrev()" [disabled]="page === 1" [ngClass]="{ 'disabled': page === 1}">&lt; Previous</button>
		<button
			class='btn'
			*ngFor="let pageNum of getPages()"
			(click)="onPage(pageNum)"
			[ngClass]="{'btn-primary': pageNum === page}">{{ pageNum }}</button>
		<button class="btn" (click)="onNext(true)" [disabled]="lastPage()" [ngClass]="{ 'disabled': lastPage()}">Next &gt;</button>
	</div>
</div>