.pagination{
    margin-bottom:20px;
}
.pagination button{
    margin:0px 2px;
}

.pagination button:hover:not(.btn-primary){
    background-color: lightskyblue;
}

.pagination button.disabled:hover{
    background-color: #FFAAAA;
}

.btn-primary{
    background-color: #009ce0;
}