<app-products-edit *ngIf='subPageAdmin=="edit"' [product]='editProduct' (pageReturn)="showInfoAndReload($event)"></app-products-edit>
<div align=center style="display:none" class="success alert fadeBlock">{{information}}</div>
<div align=center [ngClass]="{'hidden':subPageAdmin!='table'}" >
  <button class="center newButton" (click)="changePage()">Powrót</button>
  <div #tableChild style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
      <data-table id="products-grid"
          headerTitle="Produkty"
          [items]="items"
          [itemCount]="itemCount"
          
          (reload)="reloadItems($event)"
          [selectColumn]="true"
          >
          
          <data-table-column
              [property]="'name'"
              header="Nazwa"
              [sortable]="true"
              [resizable]="true">
          </data-table-column>
          <data-table-column
              [property]="'description'"
              header="Opis"
              [sortable]="true">
          </data-table-column>
          <data-table-column
              [property]="'price'"
              header="Cena"
              [sortable]="true">
          </data-table-column>
          <data-table-column
              [property]="'category'"
              header="Kategoria"
              [sortable]="true">
          </data-table-column>
          <data-table-column
              [property]="'id'"
              [header]="'id'"
              [visible]="false">
          </data-table-column>
          <data-table-column
            width="140px"
            header="Edycja">
            <ng-template #dataTableHeader let-item="item">
                <i></i>
            </ng-template>
            <ng-template #dataTableCell let-item="item">
                <button (click)="productEdit(item)" class="btn btn-sm btn-default newButton center tablebtn">Edytuj</button>
            </ng-template>
          </data-table-column>
      </data-table>
  </div>
  <button class="center newButton" (click)="deleteChecked()">Usuń zaznaczone</button>
  <button class="center newButton" (click)="productNew()">Dodaj produkt</button>
</div>