.hidden{
    display:none;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {transform: translatez(0); background-color: #4CAF50;}


.row-odd{
    background-color:#EDFAFF !important;
}
