button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 2em;
  padding: 2em 3em;
  
  box-shadow: inset 0 0 0 2px red;
  color: red;
  font-size: 14pt;
  font-weight: 700;

  position: relative;
  vertical-align: middle;
}

button::before,
button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}