<div *ngIf="pageAdmin == 'viewAdmin'" class="viewContainer" align="center">
  <section class="buttons">
    <div>
      <button class="spin circle" (click)="pageAdmin='products'">Produkty</button>
      <button class="spin circle" (click)="pageAdmin='orders'">Zamówienia</button>
    </div>
      <button class="spin circle" (click)="logout()">Wyloguj</button>
  </section>
</div>

<app-orders *ngIf="pageAdmin == 'orders'" (pageAdmin)="changePage($event)"></app-orders>
<app-products *ngIf="pageAdmin == 'products'" (pageAdmin)="changePage($event)" ></app-products>
