<header class='row' >
  <div class="col-sm-12 col-md-6 shop" align="left" (click)="changePage('shop')">
      <img  style="vertical-align: top;" class="logo" [src]="'assets/illenium.png'" /> 
      <span style="display: inline-block; margin-top:7px;"><span class="firmName">Illenium</span>  <span style="margin-left:15px;"> Sklep Internetowy</span></span>
  </div>
  <div class="col-sm-12 col-md-6" align="right">
    <span style="display: inline-block; margin-top:7px;"><b>Koszyk:</b> {{basketNumber}} produkt(ów), <span>{{ basketValue  | currency:'USD':true}}</span></span>
    <button style="vertical-align: top;" (click)="changePage('basket')" class="btn tobasket">Do kasy</button>
  </div>
</header>
