header{
    background-color:lightskyblue;
    padding: 5px 0;
}

.firmName{
    font-size:1.2em;
}

.logo{
    width:30px;
    height:30px;
}

.tobasket{
    background-color:#009ce0;
}

.tobasket:hover{
    border:1px solid blue;
}

.shop{
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    header > div{
        text-align:center;
    }
}