<div align=center>
    <div align=center style="display:none" class="success alert">{{information}}</div>
    <button class="center newButton" (click)="changePage()">Powrót</button>
    <div #tableChild style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
        <data-table id="products-grid"
            headerTitle="Zamówienia"
            [limit]="3"
            [items]="items"
            [itemCount]="itemCount"
            [expandableRows]="true"
            (reload)="reloadItems($event)"
            >
            <ng-template #dataTableExpand let-item="item">
                <ul style="margin:0">
                    <li *ngFor="let itemId of objectKeys(item.orderItems)">
                        {{item.orderItems[itemId].name}} x {{item.orderItems[itemId].number}} =  {{item.orderItems[itemId].price}} zł
                    </li>
                </ul>   
            </ng-template>
            <data-table-column
                [property]="'date'"
                header="Data"
                [sortable]="true"
                [resizable]="true">
            </data-table-column>
            <data-table-column
                [property]="'sumPrice'"
                header="Suma"
                [sortable]="true">
            </data-table-column>
            <data-table-column
                [property]="'status'"
                header="Status"
                [sortable]="true">
            </data-table-column>
        </data-table>
    </div>
</div>