<div *ngIf="pageUser == 'viewPanel'" class="viewContainer" align="center">
    <section class="buttons">
      <div>
        <button class="spin circle" (click)="pageUser='orders'">Historia zamówień</button>
        <!-- <button class="spin circle" (click)="pageAdmin='orders'">Zamówienia</button> -->
      </div>
        <button class="spin circle" (click)="logout()">Wyloguj</button>
  </section>
</div>

<app-user-orders *ngIf="pageUser == 'orders'" (pageAdmin)="changePage($event)"></app-user-orders>