<div class="registerContainer" >
    <div [hidden]="submitted">
      <h2 align=center >Rejestracja</h2>
      <form (ngSubmit)="onSubmit()" #orderForm="ngForm" >
          <div class="form-group">
            <label for="name">Nick</label>
            <input type="text" class="form-control" [(ngModel)]="model.name" name='name' id="name" minlength="3" required #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required">
                Pole jest wymagane.
              </div>
              <div *ngIf="name.errors.minlength">
                Pole musi posiadać minimum 3 znaki.
              </div>
            </div>
          </div>

          <div class="form-group">
              <label for="password">Hasło</label>
              <input type="password" class="form-control" [(ngModel)]="model.password" name='password' id="password" minlength="6" required #password="ngModel">
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                <div *ngIf="password.errors.required">
                  Pole jest wymagane.
                </div>
                <div *ngIf="password.errors.minlength">
                  Pole musi posiadać minimum 6 znaków.
                </div>
              </div>
            </div>
  
          <div align=center>
            <button  [disabled]="!orderForm.form.valid" type="submit" class="btn btn-success registerSend">Rejestruj</button>
          </div>
      </form>
    </div>
</div>