.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; 
}

.orderContainer{
  margin-top:15px;
}

.orderSend{
  margin: 0 auto;
  padding: 10px 30px;
}

.btn:hover{
  background-color: lightskyblue;
}
