<div class="orderContainer" >
  <div [hidden]="submitted">
    <h2 align=center >Informacje dotyczące wysyłki</h2>
    <form (ngSubmit)="onSubmit()" #orderForm="ngForm" >
        <div class="form-group">
          <h4>Odbiorca</h4>
          <label for="name">Imię i nazwisko</label>
          <input type="text" class="form-control" [(ngModel)]="model.name" name='name' id="name" minlength="3" required #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
              Pole jest wymagane.
            </div>
            <div *ngIf="name.errors.minlength">
              Pole musi posiadać minimum 3 znaki.
            </div>
          </div>
        </div>

        <div class="form-group">
          <h4>Adres</h4>
          <label for="street">Nazwa ulicy</label>
          <input type="text" class="form-control" id="street" [(ngModel)]="model.street" name='street' required #street="ngModel">
        </div>
        
        <div *ngIf="street.invalid && (street.dirty || street.touched)" class="alert alert-danger">
            <div *ngIf="street.errors.required">
                Pole jest wymagane.
            </div>
        </div>
        <div align=center>
          <button  [disabled]="!orderForm.form.valid" type="submit" class="btn btn-success orderSend">Wyślij</button>
        </div>
    </form>
  </div>
  
  <div align=center [hidden]="!submitted">
    <h2>Podano następujący adres:</h2>
    <div class="card card-outline-primary w-75" >
        <div class="card-block row">
          <div class="col-xs-12 col-sm-7 ">
            <p align=left class="card-text">
              <span class="col-xs-3">Imię i nazwisko:</span>
              <span class="col-xs-9 ">{{ model.name }}</span>
            </p>
          </div>
        <div class="col-xs-12 col-sm-7 ">
          <p align=left class="card-text">
            <span class="col-xs-3">Nazwa ulicy:</span>
            <span class="col-xs-9">{{ model.street }}</span>
          </p>
        </div>
      </div>
    </div>
    <button class="btn btn-default" (click)="backPage()">Powrót do sklepu</button>
  </div>
</div>
