.list-group.panel  .list-group-item{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #f7f7f7;
  color: #666;
}

.list-group.panel  .list-group-item.groupname{
  background-color: white;
}

.list-group.panel .list-group-item:hover{
  background-color: lightblue;
}

.list-group.panel .list-group-item.actives{
  background-color: lightblue;
  border-left: 3px solid #7DA8F6;
}

.list-group.panel .list-group-item.actives:hover{
  background-color: #BDE8EF;
}

.strong { font-weight: bold; }

.btnplus{
  border-color: lightskyblue
}

.btnplus:hover{
  background-color: lightskyblue;
  border-color: #7DA8F6;
}

.promo{
  font-weight: bold;
  color:darkred;
}