<aside class="list-group panel">
    
    <a class="list-group-item list-group-item strong text-center categoryTitle" style="background: #009ce0; color: white;" >Kategorie</a>
    <a *ngFor="let category of categories;"  (click)="send(category)" [ngClass]="{'actives' : filters.indexOf(category) > -1}" class="list-group-item list-group-item-success strong" >{{category}} </a>
    
    <div *ngFor="let categoriesGroup of categoriesGroups;let i = index">
        <a  href="#{{categoriesGroupsNames[i]}}"  class="list-group-item list-group-item groupname strong" data-toggle="collapse" > {{categoriesGroupsNames[i]}} </a>
        <div class="collapse list-group-submenu" id="{{categoriesGroupsNames[i]}}">
            <a *ngFor="let category of categoriesGroup;" (click)="send(category)" [ngClass]="{'actives' : filters.indexOf(category) > -1}" class="list-group-item"> {{category}}</a>
        </div>
    </div>
    <div style="margin-top:15px" align="center">
        <span>Filtr cenowy</span>
        <div style="margin-top:40px" >
            <nouislider  #slider [config]="someRange2config" [(ngModel)]="someRange2" (ngModelChange)="onChange($event)" (ngModelChange)="onChange($event)" ></nouislider>
        </div>
    </div>
</aside>

<div *ngIf="saleProduct.name" class="box">
    <section class="card card-outline w-100 " style="width: 20rem;" align=center>
        <h4 class="card-header"> 
            Najnowsza Promocja
        </h4>
        <h5 class="card-header">
            {{saleProduct.name | uppercase}}
        </h5>
        <div class="card-block">
            <p align="center" class="card-text text-center">Cena: <span class="promo"> {{saleProduct.price | currency:'USD':true}}</span></p>
            <div class="col-12 text-center">
                <button (click)="add(saleProduct)" class='btn btnplus'>Kup teraz!</button>
            </div>
            <p class="card-text" *ngIf="saleProduct.order">W koszyku: <span class="itemOrderNr">{{saleProduct.order}} </span> szt.</p>
        </div>
      </section>
</div>

