<section class="card card-outline w-100" style="width: 20rem;">
  <h4 class="card-header">
      {{itemObject.name | uppercase}}
  </h4>
  <div class="card-block row">
    <div class="col-xs-12 col-sm-7 ">
      <p class="card-text cardDescription">{{itemObject.description | uppercase}}</p>
      <p class="card-text">Cena: <span [ngClass]="{'promo':itemObject.sale}">{{itemObject.price | currency:'USD':true}} </span> <span *ngIf="itemObject.sale" class="promo"> Promocja !!</span></p>
      <p class="card-text" *ngIf="itemObject.order">W koszyku: <span class="itemOrderNr">{{itemObject.order}} </span> szt.</p>
    </div>
    <div class="col-xs-12 col-sm-5 text-center">
      <div class=col-sm-12>
        <button [ngClass]="{'hidden':itemObject.order<=0}"  (click)="subtract(itemObject)" class='btn btnminus'>Usuń</button>
        <button (click)="add(itemObject)" class='btn btnplus'>Dodaj</button>
      </div> 
      <div *ngIf="itemObject.imageExist" class=col-sm-12 align=left>
        <button (click)="openBox({'id':itemObject.id,'name':itemObject.name})" class='btn btn-xs imagebtn'><i class="fa fa-picture-o" aria-hidden="true"></i></button>
      </div> 
    </div>
  </div>
</section>