.btnplus{
    width:90px;
    background-color:lightgreen;
}
.btnplus:hover{
    background-color:#A0FEA0 ;
    border:1px solid green;
}

.btnminus{
    width:90px;
    background-color:lightcoral;
}

.btnminus:hover{
    background-color:#FF9090 ;
    border:1px solid red;
}   

.card{
    margin: 5px 0;
}

.card button{
    margin: 5px;
} 

.card-outline{
    background-color: transparent;
    border-color: #009ce0;
}
.cardDescription{
    height:3em;
}

.hidden{
    visibility: hidden;
}

.imagebtn:hover{
    background-color: lightskyblue;
    border-color: #7DA8F6;
}

.imagebtn{
    border-color: lightskyblue;
}

.promo{
    font-weight: bold;
    color:darkred;
}