<p *ngIf="errorShow!=''" >{{errorShow}}</p>
<app-item *ngFor="let itemObject of itemsObjects;" [itemObject]='itemObject' (openWindow)="open($event)"  (subtractOut)="subtract($event)" (addOut)="add($event)">
</app-item>
<app-pagination-component  (goPage)="goToPage($event)"
    (goNext)="onNext()"
    (goPrev)="onPrev()"
    [pagesToShow]="2"
    [page]="page"
    [perPage]="3"
    [count]="total">
</app-pagination-component>


<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span (click)="close()" class="close">&times;</span>
            <span class="headerModalText">{{nameProduct}}</span>
        </div>
        <div class="modal-body">
            <img style="width:100%; height:auto;" alt="Zdjęcie podglądowe" src={{image}}/>
        </div>
    </div>
</div>