<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <app-header (pageMain)="changePage($event)"></app-header>
  <app-nav-bar (pageMain)="changePage($event)" [page]='pageMain'></app-nav-bar>
  <div *ngIf='pageMain=="shop"' class="row">
    <app-filter-bar class="col-xs-12 col-sm-12 col-md-3"></app-filter-bar>
    <app-shop-center class="col-xs-12 col-sm-12 col-md-9" ></app-shop-center>
  </div>
  <div *ngIf='pageMain=="basket"' class="row">
      <app-basket-center class="col-12" (pageMain)="changePage($event)"></app-basket-center>
  </div>
  <div *ngIf='pageMain=="ordering"' class="row">
      <app-order-center class="col-12" (pageMain)="changePage($event)"></app-order-center>
  </div>
  <div *ngIf='pageMain=="admin"' class="row">
    <app-administrator class="col-12" (pageMain)="changePage($event)"></app-administrator>
</div>
</div>


