.nav-item{
    font-size:1.1em;
}

@media only screen and (max-width: 992px) {
    /* centered navigation */
    input[type="text"] {
        display: block;
        margin : 0 auto;
   }
    nav li, nav input {
      text-align: center;
    }
}