<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">&nbsp;</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [ngClass]="{'active':page=='shop'}">
          <a class="nav-link" (click)="changePage('shop')" href="#">Sklep </a>
        </li>
        <li class="nav-item" [ngClass]="{'active':page=='basket'}">
          <a class="nav-link" (click)="changePage('basket')" href="#">Koszyk</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':page=='admin'}">
          <a class="nav-link" (click)="changePage('admin')" href="#">Konto</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input (keyup)="categorySend($event)" class="form-control" type="text" placeholder="Szukaj produktu">
      </form>
    </div>
</nav>
