.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; 
}

.loginContainer{
  margin-top:15px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}
  
.box:hover {
  animation-name: flash_background;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes flash_background {
  0% {
    border-color: red;
    background-color: red;
  }
  20% {
    border-color: yellow;
    background-color: yellow;
  }
  40% {
    border-color: green;
    background-color: green;
  }
  60% {
    border-color: blue;
    background-color: blue;
  }
  80% {
    border-color: violet;
    background-color: violet;
  }
  100% {
    border-color: red;
    background-color: red;
  }
}

.fixedAlert{
  background-color: #4CAF50;
  transform: translatez(0);
  position: fixed;
  right:100px;
  z-index: 2000;
}