 button.newButton {
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;

    box-shadow: inset 0 0 0 2px gray;
    color: gray;
    font-size: inherit;
    font-weight: 700;

    position: relative;
    vertical-align: middle;
}
button.tablebtn.newButton{
    padding: 0.7em 1.4em;
    margin: 0.5em;
}
button.newButton::before,
button.newButton::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.center:hover {
    color:#009ce0;
}

.center::before,
.center::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
}

.center::before {
    border-top: 2px solid lightskyblue;
    border-bottom: 2px solid lightskyblue;
    transform: scale3d(0,0,1); 
}

.center::after {
    border-left: 2px solid lightskyblue;
    border-right: 2px solid lightskyblue;
    transform: scale3d(0,0,1); 
}

.center:hover::before,
.center:hover::after {
    transform: scale3d(1,1,1); 
    transition: transform 0.5s;
}

.spin:hover {
    color: #009ce0;
  }

.spin::before,
.spin::after {
    top: 0;
    left: 0;
}

.spin::before{
    border: 2px solid transparent; 
}

.spin:hover::before {
    border-top-color: lightskyblue; 
    border-right-color: lightskyblue;
    border-bottom-color: lightskyblue;

    transition:
        border-top-color 0.15s linear, 
        border-right-color 0.15s linear 0.10s,
        border-bottom-color 0.15s linear 0.20s;
}

.spin::after {
  border: 0 solid transparent; 
}

.spin:hover::after {
    border-top: 2px solid lightskyblue; 
    border-left-width: 2px; 
    border-right-width: 2px;
    transform: rotate(270deg);
    transition:
        transform 0.4s linear 0s,
        border-left-width 0s linear 0.35s;
}

.spin {
    width: 9em;
    height: 9em;
    padding: 0;
}

.circle {
    border-radius: 100%;
    box-shadow: none;
}

.circle::before,
.circle::after {
    border-radius: 100%;
}