<div align=center style="display:none;" class="success alert fixedAlert">{{information}}</div>
<div *ngIf="login=='login'" class="loginContainer" >
  <form  (ngSubmit)="onSubmit()" #orderForm="ngForm" class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Nick: (Admin)</label> 
      <div class="col-md-12 col-lg-10">
        <input type="text" [(ngModel)]="model.username" class="form-control" id="username" name="username" placeholder="Podaj nick" required  #username="ngModel">
      </div>
    </div>
    <div class="col-md-12 col-lg-10">
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class=" alert alert-danger">
        <div *ngIf="username.errors.required">
          Pole jest wymagane.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Hasło: (secret)</label> 
      <div class="col-md-12 col-lg-10"> 
        <input type="password"  [(ngModel)]="model.password" name="password" class="form-control" id="pwd" placeholder="Podaj hasło" required #password="ngModel">
      </div>
    </div>
    <div class="col-md-12 col-lg-10">
      <div  *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">
            Pole jest wymagane.
        </div>
      </div>
    </div>

    <div class="form-group"> 
      <div align=center class="col-lg-offset-2 col-md-12 col-lg-10">
        <button [disabled]="!orderForm.form.valid" type="submit" class="btn btn-success orderSend">Zaloguj</button>
      </div>
    </div>
  </form>
  <div class="col-md-12 col-lg-10">
    <div *ngIf="error" class="alert error">
        Podany użytkownik nie istnieje
    </div>
  </div>
  <div class="col-md-12 col-lg-10" align="center">
      <p>Nie posiadasz konta?</p>
      <button (click)="registerPage()" class="box btn">Zarejestruj się!</button>
  </div>
</div>
<app-admin-start-view *ngIf="login=='loggedAdmin'" (logoutPage)="displayFormPage($event)"></app-admin-start-view>
<app-user-start-view *ngIf="login=='loggedUser'" (logoutPage)="displayFormPage($event)"></app-user-start-view>
<app-account-register *ngIf="login=='register'" (mainPage)="displayFormPage($event)"></app-account-register>
