<div class="EditProductContainer" >
    <form  (ngSubmit)="onSubmit()" #productForm="ngForm" class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Nazwa:</label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="product.name" class="form-control" name="name" id="name" placeholder="Nazwa" required  #name="ngModel">
        </div>
      </div>
      <div class="col-sm-10">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class=" alert alert-danger">
          <div *ngIf="name.errors.required">
            Pole jest wymagane.
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-sm-2" for="description">Opis:</label>
        <div class="col-sm-10"> 
          <input type="text"  [(ngModel)]="product.description" name="description" class="form-control" id="description" placeholder="Opis" required #description="ngModel">
        </div>
      </div>
      <div class="col-sm-10">
        <div  *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger" >
          <div *ngIf="description.errors.required">
              Pole jest wymagane.
          </div>
        </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2" for="price">Cena:</label>
          <div class="col-sm-10"> 
            <input type="number" min=0 pattern="[0-9,.]*" [(ngModel)]="product.price" name="price" class="form-control" id="price" placeholder="Cena" #price="ngModel" required>
          </div>
        </div>
        <div class="col-sm-10">
          <div  *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
            <div *ngIf="price.errors.pattern">
                Pole musi posiadać być liczbą nieujemną.
            </div>
            <div *ngIf="price.errors.required">
                Podana nawtość nie jest liczbą.
            </div>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2" for="category">Kategoria:</label>
          <div class="col-sm-10"> 
            <select  [(ngModel)]="product.category" class="form-control" id="category" name="category" required #category="ngModel">
              <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-10">
          <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
            <div *ngIf="category.errors.required">
                Pole jest wymagane.
            </div>
          </div>
        </div>

      <div *ngIf='buttonName=="Edytuj"' class="form-group">
        <label class="control-label checkbox-inline col-sm-4" for="sale">Promocja:
           <input class="checkbox" type="checkbox" [(ngModel)]="product.sale" name="sale" class="form-control" id="sale" #sale="ngModel" (selected)="product.sale"> 
        </label>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="saleValue">Obniżka o [%]:</label>
        <div class="col-sm-4"> 
          <input [(ngModel)]="product.saleValue" #saleValue="ngModel" class="form-control" id="saleValue" name="saleValue" type="number" min="0" max="100" step="0.01" value=0 />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="saleValue">Czas [s]:</label>
        <div class="col-sm-4"> 
          <input [(ngModel)]="product.saleTime" #saleTime="ngModel"  class="form-control" id="saleTime" name="saleTime" type="number" min="0" value=0 />
        </div>
      </div>

      <div class="form-group">
        <label class=" btn btn-default col-11 col-sm-4 col-md-2 filebtn"> 
          Załaduj plik
          <input hidden class="btn" type="file" #fileInput placeholder="Załaduj plik" />
        </label>
      </div>
        <div *ngIf="product.imageExist" class="col-sm-10">
          <img class="imageproduct" alt="zdjęcie" src={{image}}/>
        </div>

        
      <div style="margin-top:10px;" class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <button [disabled]="!productForm.form.valid" type="submit" class="btn btn-success orderSend">{{buttonName}}</button>
          <button (click)=goBack() type="button" class="btn btn-default">Powrót</button>
        </div>
      </div>

    </form>
  </div>
  