.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; 
} 

.filebtn{
  margin-left:15px;
  margin-right:15px;
  border-color: lightskyblue;
}

.filebtn:hover{
  background-color: lightskyblue;
  border-color: #7DA8F6;
}

.imageproduct{
  width:auto; 
  max-height:400px;
}

input[type=checkbox] {
  transform: scale(1.5);
}