<div align=center>
    <div align=center style="display:none" class="success alert">{{information}}</div>
    <button class="center newButton" (click)="changePage()">Powrót</button>
    <div #tableChild style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
        <data-table id="products-grid"
            headerTitle="Zamówienia"
            [items]="items"
            [itemCount]="itemCount"
            (reload)="reloadItems($event)"
            >
            
            <data-table-column
                [property]="'name'"
                header="Nazwa"
                [sortable]="true"
                [resizable]="true">
            </data-table-column>
            <data-table-column
                [property]="'sumPrice'"
                header="Suma"
                [sortable]="true">
            </data-table-column>
            <data-table-column
                [property]="'status'"
                header="Status"
                [sortable]="true">
            </data-table-column>
            <data-table-column
                [property]="'dateOrder'"
                header="Data zamówienia"
                [sortable]="true">
            </data-table-column>
            <data-table-column
                [property]="'id'"
                [header]="'id'"
                [visible]="false">
            </data-table-column>
            
            <data-table-column
                width="140px"
                header="Edycja">
                <ng-template #dataTableHeader let-item="item">
                <i></i>
                </ng-template>
                <ng-template #dataTableCell let-item="item">
                <button (click)="showMoreInfo(item)" class="btn btn-sm btn-default center  newButton tablebtn">Pokaż</button>
                </ng-template>
            
            </data-table-column>
        </data-table>
    </div>

    <div *ngIf="orderActive && displayMoreInfo">
        <section class="card card-outline w-100" style="width: 20rem;">
            <h4 class="card-header">
                {{orderActive.name}}
            </h4>
            <div class="card-block row">
                <div class="col-12">
                    <p class="card-text">Ulica: <b> {{orderActive.street | uppercase}} </b></p>
                    <p class="card-text">Cena zamówienia: <b> {{orderActive.sumPrice | currency:'USD':true}} </b></p>
                    <p class="card-text">Szczegóły zamówienia:</p>
                    <table>
                        <tr>
                            <th>
                                Nazwa
                            </th>
                            <th style="padding-right: 15px;">
                                Liczba [szt.]
                            </th>
                            <th>
                                Cena
                            </th>
                        </tr>
                        <tr *ngFor="let entry of objectKeys(orderActive.orderItems)">
                            <td style="padding-right: 15px;"class="card-text">
                                {{productsOrder[entry].name}}
                            </td>
                            <td class="card-text">
                                {{orderActive.orderItems[entry]['number']}}
                            </td>
                            <td class="card-text">
                                {{orderActive.orderItems[entry]['price'] * orderActive.orderItems[entry]['number'] | currency:'USD':true}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <select  [(ngModel)]="chosenOptionStatus" class="form-control col-4" name="status">
                    <option *ngFor="let statusId of objectKeys(statusArray)" [value]="statusId">{{statusArray[statusId]}}</option>
                </select>
                <button class="center newButton" (click)="changeStatus(orderActive.id)">Zmień status</button>
            </div>
        </section>
    </div>
</div>