body{
    font-family: 'Josefin Sans', sans-serif;
}

button{
    cursor: pointer;
}

@import "~nouislider/distribute/nouislider.min.css";
nouislider .skyBackground{
    background: lightskyblue;
}

nouislider .skyBorder{
    border: solid 1px lightskyblue;
}
  
.box {
    border: 2px solid red;
    animation-name: flash_border;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes flash_border {
    0% {
        border-color: red;
    }
    20% {
        border-color: yellow;
    }
    40% {
        border-color: green;
    }
    60% {
        border-color: blue;
    }
    80% {
        border-color: violet;
    }
    100% {
        border-color: red;
    }
}